body {
    background: #fafafa;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-family: 'Josefin Sans', sans-serif;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar {
    background-color:rgba(239, 219, 156, .75);
    border-bottom: 0px;
}

.nav-pills > li > a {
    font-weight: 500;
    font-size: 22px;
    line-height: 0%;
    margin-top: 10px;
    padding: 15px 10px 10px 10px;
    /*padding-top: 14px;*/

    /*background-color: rgba(210, 107, 131, .85);*/
    background-color: rgba(255, 255, 255, .50);
    /*background-color: rgba(239, 219, 156, .50);*/

}

.navbar-nav {
    margin-top: 12px;
    margin-left: 15px;
    font-size: 18px;
}

.navbar-subnav {
    min-height: 30px !important;
    margin-top: -5px;
    margin-left: -80px;
    /*background-color: rgba(0,0,0,.25);*/
}

.navbar-subnav > div > div > ul > li > a {
    margin-left: 5px;
    margin-top: -10px;
    font-size:17px;
    font-weight: bold;
    color: #d26b83 !important;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
    /*background-color: rgba(239, 219, 156, .2);;*/
    margin-right: 10px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
}

.carousel-caption {
    /*top: 350px;*/
    left:35%;
    right:35%;
    width: 30%;
    bottom: -25px;
    font-size: 20px;
    /*font-size: 30px;*/
    padding-top: 5px;
    -webkit-transition-property: bottom;
    transition-property: bottom;
    transition-timing-function: ease-in-out;
    background-color: rgba(239, 219, 156, .45);
    color: rgba(6,37,66,1);
    border-radius: 15px;
}


.btn-lg {
    margin: 10px;

}

.btn-bright {
    background: #bc223b;
    border-color: #bc4363;
    color: #ffffff;
}

.btn-bright:hover {
    background: #9d1528;
    border-color: #943c3c;
    color: #ffffff;
}

.footer {
    width:100%;
    display:table;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(6,37,66,1);
    color: rgba(239,219,256,1);
    border-color: #898989;
    border-width: 0px;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-size: 16px;
}

.footer-contact {
    display:table-cell;
    float:left;

}

.footer-links {
    display:table-cell;
    float:right;
}

/*.carousel-caption {*/
    /*bottom: -100px;*/
/*}*/

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    transition-timing-function: ease-in-out;

}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        -webkit-transform: translate3d( 0, 0, 0);
        transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        -webkit-transform: translate3d( 0, 0, 0);
        transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    /*font-weight: 200;*/
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */
